extends ../base/page

block title
	title Поддержка сайтов

block content

	+b.top-bg._tech#sidebar-top
		//include ../blocks/header
		.container
			+e.content
				+e.desc
					+e.H1.title Поддержка сайтов
					+e.P.txt Современный сайт результат непрерывного процесса изменения и совершенствования. С точки зрения бизнеса эффективный сайт постоянно нуждается в доработках, обновлении и развитии. Наш отдел поддержки и развития готов оказать полный перечень услуг по обслуживанию и доработке сайтов.
					+btn.A._bg-color_orange._size_normal.__btn.js-order-popup(href="#") Заказать поддержку сайта
				+e.btn-wrap
					+btn.A._border_small._color_white.__btn-nav(href="#") Портфолио
					+btn.A._border_small._color_white.__btn-nav(href="#") Клиенты о нас




	include ../blocks/sidebar

	+b.tech-advantage
		.container
			.content
				+b.title.__title Наши преимущества
				+b.UL.advantage-site.__advantage
					+e.item
						+e.icon.icon._techad_1
						| 8 лет на рынке (с 2009 года)
					+e.item
						+e.icon.icon._techad_2
						| Свыше 300 сайтов разработано
					+e.item
						+e.icon.icon._techad_3
						| Свыше 100 клиентов на постоянной поддержке
					+e.item
						+e.icon.icon._techad_4
						| Специалисты высочайшего класса
					+e.item
						+e.icon.icon._techad_5
						| Нам доверяют свои сайты крупнейшие компании
					+e.item
						+e.icon.icon._techad_6
						| Полное погружение в проект

	+hr

	+b.tech-price
		.container
			.content
				+tab({txt:"Месяц", id:"month", cls:"js-tab-tech-price"}, {txt:"Полгода", id:"half-yaer", cls:"js-tab-tech-price"}).__tab
				+e.nav
					+arrow._prev.__arrow._prev
					+arrow._next.__arrow._next
				+b.tech-table.__table
					+e.row
						+e.cell._h
							+b.title Тарифы
						+e.cell._head.js-slide
							+e.head._l
								+e.icon l
								+e.title Базовый
								+e.desc Если у вас небольшой сайт, обновления происходят редко
						+e.cell._head._c._cent.js-slide
							+e.head._c
								+e.icon ll
								+e.title Расширенный
								+e.desc Если ваш сайт требует постоянного обновления новостей, акций, статей

						+e.cell._head.js-slide
							+e.head._r
								+e.icon lll
								+e.title Профессиональный
								+e.desc Если у вас интернет-магазин, требующий постоянного обновления
					+e.row
						+e.cell._h Абонентская плата (месяц)
						+e.cell._left.js-slide
							+e.cell-in._bg
								+e.hidden-title Абонентская плата (месяц)
								+e.data._month._active 1 950 р
								+e.data._year 1 951 р
						+e.cell._cent.js-slide
							+e.cell-in._bg
								+e.hidden-title Абонентская плата (месяц)
								+e.data._month._active 3 900 р
								+e.data._year 3 901 р
						+e.cell._right.js-slide
							+e.cell-in._bg
								+e.hidden-title Абонентская плата (месяц)
								+e.data._month._active 6 750 р
								+e.data._year 6 751 р
					+e.row
						+e.cell._h Кол-во выделенных часов
						+e.cell._left.js-slide
							+e.cell-in._ln
								+e.hidden-title Кол-во выделенных часов
								+e.data._month._active 3 часа
								+e.data._year 5 часа
						+e.cell._cent.js-slide
							+e.cell-in._ln
								+e.hidden-title Кол-во выделенных часов
								+e.data._month._active 8 часов
								+e.data._year 5 часов
						+e.cell._right.js-slide
							+e.cell-in._ln
								+e.hidden-title Кол-во выделенных часов
								+e.data._month._active 15 часов
								+e.data._year 55 часов
					+e.row
						+e.cell._h Стоимость часа любого специалиста
						+e.cel._leftl.js-slide
							+e.cell-in._ln
								+e.hidden-title Стоимость часа любого специалиста
								+e.data._month._active 650 р
								+e.data._year 651 р
						+e.cell._cent.js-slide
							+e.cell-in._ln
								+e.hidden-title Стоимость часа любого специалиста
								+e.data._month._active 500 р
								+e.data._year 501 р
						+e.cell._right.js-slide
							+e.cell-in._ln
								+e.hidden-title Стоимость часа любого специалиста
								+e.data._month._active 450 р
								+e.data._year 451 р
					+e.row
						+e.cell._h Стоимость часа сверхлимита
						+e.cel._leftl.js-slide
							+e.cell-in._ln
								+e.hidden-title Стоимость часа сверхлимита
								+e.data._month._active 800 р
								+e.data._year 801 р
						+e.cell._cent.js-slide
							+e.cell-in._ln
								+e.hidden-title Стоимость часа сверхлимита
								+e.data._month._active 700 р
								+e.data._year 701 р
						+e.cell._right.js-slide
							+e.cell-in._ln
								+e.hidden-title Стоимость часа сверхлимита
								+e.data._month._active 600 р
								+e.data._year 601 р
					+e.row
						+e.cell._h Время реакции
						+e.cell._left.js-slide
							+e.cell-in
								+e.hidden-title Время реакции
								+e.data._month._active до 2ух дней
								+e.data._year до 15ух дней
						+e.cell._cent.js-slide
							+e.cell-in
								+e.hidden-title Время реакции
								+e.data._month._active до 1го дня
								+e.data._year до 15го дня
						+e.cell._right.js-slide
							+e.cell-in
								+e.hidden-title Время реакции
								+e.data._month._active до 8ми часов
								+e.data._year до 15ми часов
					+e.row
						+e.cell._h
						+e.cell._foot._r.js-slide
							+e.foot._l
								+btn.A._border_normal._color_orange.__btn.js-order-popup(href="#") Заказать
								//-+e.A.link(href="#") Подробнее о тарифе
						+e.cell._foot.js-slide
							+e.foot._c
								+btn.A._bg-color_orange._size_big._shadow.__btn.js-order-popup(href="#") Заказать
								//-+e.A.link(href="#") Подробнее о тарифе
						+e.cell._foot._l.js-slide
							+e.foot._r
								+btn.A._border_normal._color_orange.__btn.js-order-popup(href="#") Заказать
								//-+e.A.link(href="#") Подробнее о тарифе

				+b.compare.__compare
					+e.A.link(href="#")
						+e.icon.icon._compare
						br
						+e.SPAN.txt Сравнить тарифы

	+hr
	+b.tech-service
		.container
			.content
				+b.title.__title Услуги технической поддержки
				+e.UL.list
					- var list = [["_update", "Обновление текущей информации", "Проекты, новости, специальные предложения и прочее."], ["_prog", "Программная доработка сайта", "Развитие новых разделов и нового функционала."], ["_dis", "Работа над внешним видом сайта", "Оформление новых материалов и графических элементов дизайна."], ["_action", "Подготовка сайта к специальным акциям", "Разработка соответствующих рекламных материалов."]]
					each item in list
						+e.item
							+e.icon.icon(class= item[0])
							+e.label= item[1]
							+e.desc= item[2]

	+b.tech-patern.darkBlock
		.container
			.content
				+b.title.__title Принцип формирования цен
				+e.body
					+e.left
						p Стоимость работ рассчитывается индивидуально по каждой заявке и зависит от оценки времени выполнения задачи специалистами.
					+e.right
						p Чем больше объем работ, тем ниже стоимость нормочаса специалиста. В этом случае обращение в нашу службу техподдержки становится наиболее выгодным.

	+b.evaluation
		.container
			.content
				+b.title.__title Оценка времени
				+e.tab-container
					+tab({txt:"Краткая", id:"briefly"} , {txt:"Подробная", id:"detail"}).__tab
					+e.body
						+e.UL.list
							- var list = [["_psdt", "2 часа", "Дизайн-макет (тестовый)", "2 часа дизайнера"], ["_photot", "1,5 часа", "Обработка и размещение на сайте 20 фотографий", "1 час контент-менеджера 0.5 часа дизайнера"], ["_psd2htmlt", "2 часа", "Верстка одной простой страницы", "2 часа верстальщика"], ["_modulet", "4 часа", 'Обработка модуля формы "Оставить заявку"', "1 час дизайнера <br>1 час верстальщика <br>2 часа программиста"]]
							each item in list
								+e.item
									+e.icon.icon(class= item[0])
									+e.label= item[1]
									+e.desc= item[2]
									+e.time!= item[3]
						+b.UL.evaluation-detail
							+e.item
								+e.content
									+e.title Разработка текстовой страницы
									+e.body
										+e.DL.list
											+e.DT.spec Дизайнер
											+e.DD.count-time 2:00
											+e.DT.spec Верстальщик
											+e.DD.count-time 1:00
											+e.DT.spec Программист
											+e.DD.count-time 0:30
											+e.DT.spec Менеджер
											+e.DD.count-time 0:30
										+e.time
											+e.icon.icon._t4
											+e.time-txt 4 часа
								+e.img
									+e.IMG.img-src(src="media/images/eval/1.jpg")
							+e.item
								+e.content
									+e.title Разработка страницы с текстом и графикой
									+e.body
										+e.DL.list
											+e.DT.spec Дизайнер
											+e.DD.count-time 5:00
											+e.DT.spec Верстальщик
											+e.DD.count-time 2:00
											+e.DT.spec Программист
											+e.DD.count-time 1:00
											+e.DT.spec Менеджер
											+e.DD.count-time 1:00
										+e.time
											+e.icon.icon._t9
											+e.time-txt 9 часов
								+e.img
									+e.IMG.img-src(src="media/images/eval/2.jpg")
							+e.item
								+e.content
									+e.title Разработка формы «Обратный звонок»
									+e.body
										+e.DL.list
											+e.DT.spec Дизайнер
											+e.DD.count-time 1:00
											+e.DT.spec Верстальщик
											+e.DD.count-time 1:00
											+e.DT.spec Программист
											+e.DD.count-time 1:00
											+e.DT.spec Менеджер
											+e.DD.count-time 0:30
										+e.time
											+e.icon.icon._t35
											+e.time-txt 3.5 часа
								+e.img
									+e.IMG.img-src(src="media/images/eval/3.jpg")

	+hr

	+b.tech-shem
		.container
			.content
				+b.title.__title Схема работы

				+e.svg
					+b.tech-point._1._pos_up
						+e.txt 1. Размещаете задачу в личном кабинете
						+e.dot
						+e.line
					+b.tech-point._2._pos_down
						+e.txt 2. Мы вникаем в суть задачи
						+e.dot
						+e.line
					+b.tech-point._3._pos_up
						+e.txt 3. Выполняем обновление
						+e.dot
						+e.line
					+b.tech-point._4._pos_down
						+e.txt 4. Завершаем. Вы получаете уведомление и отчет о затратах времени
						+e.dot
						+e.line
					+b.tech-point._finish._pos_up
						+e.txt 5. Оцениваете качество работы
						+e.dot
							+e.icon.icon._tick
						+e.line
					svg(
						xmlns:dc="http://purl.org/dc/elements/1.1/"
						xmlns:cc="http://creativecommons.org/ns#"
						xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
						xmlns:svg="http://www.w3.org/2000/svg"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 720.31036 53.274227"
						version="1.1"
						id="svg2")
						defs( id="defs6" )
						path(
							 id="path4138"
							 d="M 0.0555588,6.0973805 C 82.252595,6.8585413 84.25443,7.5060631 84.25443,7.5060631 107.57329,15.037082 84.329238,48.783466 124.47164,47.222364 L 254.22357,46.181225 C 283.19798,42.75453 253.33509,3.8146882 302.76667,6.0973805 l 126.10794,0.9109963 c 29.2435,4.5166882 1.12497,40.3423192 42.29626,39.9537022 l 133.91648,-0.650711 c 23.33177,-4.886396 3.94604,-32.064931 31.80238,-39.3361056 3.06415,-0.9867199 83.3736,-0.3573125 83.3736,-0.3573125"
							 style="fill:none;fill-rule:evenodd;stroke:#cccccc;stroke-width:12;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" )
						path(
							 style="fill:none;fill-rule:evenodd;stroke:#e5e5e5;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
							 d="M 0.0555588,6.0973805 C 82.252595,6.8585413 84.25443,7.5060631 84.25443,7.5060631 107.57329,15.037082 84.329238,48.783466 124.47164,47.222364 L 254.22357,46.181225 C 283.19798,42.75453 253.33509,3.8146882 302.76667,6.0973805 l 126.10794,0.9109963 c 29.2435,4.5166882 1.12497,40.3423192 42.29626,39.9537022 l 133.91648,-0.650711 c 23.33177,-4.886396 3.94604,-32.064931 31.80238,-39.3361056 3.06415,-0.9867199 83.3736,-0.3573125 83.3736,-0.3573125"
							 id="path4140" )
						path(
							 id="path4144"
							 d="M 0.0555588,6.0973805 C 82.252595,6.8585413 84.25443,7.5060631 84.25443,7.5060631 c 23.31886,7.5310189 0.07481,41.2774029 40.21721,39.7163009"
							 style="fill:none;fill-rule:evenodd;stroke:#ff6026;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" )
						path(
							 id="path4148"
							 d="M 124.47164,47.222364 254.22357,46.181225 C 283.19798,42.75453 253.33509,3.8146882 302.76667,6.0973805"
							 style="fill:none;fill-rule:evenodd;stroke:#ff6026;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" )
						path(
							 id="path4150"
							 d="m 302.76667,6.0973805 126.10794,0.9109963 c 29.2435,4.5166882 1.12497,40.3423192 42.29626,39.9537022"
							 style="fill:none;fill-rule:evenodd;stroke:#ff6026;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" )
						path(
							 id="path4152"
							 d="m 471.17087,46.962079 133.91648,-0.650711 c 23.33177,-4.886396 3.94604,-32.064931 31.80238,-39.3361056 3.06415,-0.9867199 83.3736,-0.3573125 83.3736,-0.3573125"
							 style="fill:none;fill-rule:evenodd;stroke:#ff6026;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" )
						path(
							 id="path4142"
							 d="M 0.0555588,6.0973805 C 82.252595,6.8585413 84.25443,7.5060631 84.25443,7.5060631 107.57329,15.037082 84.329238,48.783466 124.47164,47.222364 L 254.22357,46.181225 C 283.19798,42.75453 253.33509,3.8146882 302.76667,6.0973805 l 126.10794,0.9109963 c 29.2435,4.5166882 1.12497,40.3423192 42.29626,39.9537022 l 133.91648,-0.650711 c 23.33177,-4.886396 3.94604,-32.064931 31.80238,-39.3361056 3.06415,-0.9867199 83.3736,-0.3573125 83.3736,-0.3573125"
							 style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:2, 4;stroke-dashoffset:0;stroke-opacity:1" )


	+hr
	+b.faq
		.container
			.content
				+b.title.__title FAQ
				+b.accordion.__accordion
					+e.head._active
						+e.icon
						+e.SPAN.head-txt Что делать, если задача не «помещается» в тарифный план?
					+e.body
						+e.txt
							p Один из основополагающих принципов ПланФикса касается уведомлений. Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик и внимание пользователя, чтобы видя сообщение от ПланФикса он испытывал соблазн удалить его не читая.
					+e.head
						+e.icon
						+e.SPAN.head-txt Как правильно сформулировать задачу?
					+e.body
						+e.txt
							p Один из основополагающих принципов ПланФикса касается уведомлений. Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик и внимание пользователя, чтобы видя сообщение от ПланФикса он испытывал соблазн удалить его не читая.
					+e.head
						+e.icon
						+e.SPAN.head-txt Не приходят сообщения о завершении задачи
					+e.body
						+e.txt
							p Один из основополагающих принципов ПланФикса касается уведомлений. Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик и внимание пользователя, чтобы видя сообщение от ПланФикса он испытывал соблазн удалить его не читая.


	+join.blueblock#sidebar-bottom

	+work
	+order